# ============ Discord ============
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_DEV_GUILD_ID=
DISCORD_CLIENT_SECRET=
BOT_OWNER_ID=

# ============ MongoDB ============
MONGO_URI="mongodb+srv://user:password@cluster.mongodb.net/discord_bot?retryWrites=true&w=majority"

# ============ Branding ============
BRAND_NAME=Zenox
BRAND_COLOR=0x7C3AED

# ============ Runtime ============
NODE_ENV=development
LOG_LEVEL=info
